In [1]:
import pandas as pd
import glob
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

#create variable to read in all csv files
files = "*.csv"
#create engine to db
engine = create_engine('sqlite:///music_dashboard.sqlite')
#reflect an existing database into a new model
Base = automap_base()
#reflect the tables
Base.prepare(engine, reflect=True)

df = pd.concat(map(pd.read_csv, glob.iglob(files, recursive=True)))

df

,artist,album,date,week_num,meta_score,user_score
0,Outkast,Stankonia,"October 31, 2000",44,95,88
1,Primal Scream,XTRMNTR,"May 2, 2000",18,90,88
2,Aimee Mann,"Bachelor No. 2 (or, the last remains of the dodo)","May 2, 2000",18,89,86
3,PJ Harvey,"Stories from the City, Stories from the Sea","October 24, 2000",43,88,88
4,The New Pornographers,Mass Romantic,"November 21, 2000",47,87,88
...,...,...,...,...,...,...
459,John Legend,Bigger Love,"June 19, 2020",25,59,71
460,Beach Slang,The Deadbeat Bang of Heartbreak City,"January 10, 2020",2,59,45
461,Katy Perry,Smile,"August 28, 2020",35,58,83
462,Justin Bieber,Changes,"February 14, 2020",7,57,51
463,Diplo,Chapter 1: Snake Oil,"May 29, 2020",22,46,33

In [ ]:
df.dtypes

In [ ]:
album_ids = [x[:3]+y[:3]+z[-2] for x,y,z in zip(df['artist'], df['album'], df['date'])]

In [ ]:
ar=""
al=""
dt=""
for artist, album, date in zip(df['artist'], df['album'], df['date']):
    ar = artist.str.slice(stop = 3)
#     al = album[:3]
#     dt = date[-2:]

In [2]:
dt = df['date']
dt_slice = dt.str.slice(start=-2)

In [3]:
al = df['album']
al_slice = al.str.slice(stop = 3)

In [4]:
ar = df['artist']
ar_slice = ar.str.slice(stop = 3)

In [7]:
df['album_id'] = ar_slice+al_slice+dt_slice
df['album_id'] = df['album_id'].str.replace(" ", "_", regex=True)

In [8]:
df.head()

,artist,album,date,week_num,meta_score,user_score,albm_id,album_id
0,Outkast,Stankonia,"October 31, 2000",44,95,88,OutSta00,OutSta00
1,Primal Scream,XTRMNTR,"May 2, 2000",18,90,88,PriXTR00,PriXTR00
2,Aimee Mann,"Bachelor No. 2 (or, the last remains of the dodo)","May 2, 2000",18,89,86,AimBac00,AimBac00
3,PJ Harvey,"Stories from the City, Stories from the Sea","October 24, 2000",43,88,88,PJ Sto00,PJ_Sto00
4,The New Pornographers,Mass Romantic,"November 21, 2000",47,87,88,TheMas00,TheMas00

In [ ]:
artist = Table('users', metadata,
    Column('artist_id', Integer, primary_key=True),
    Column('artist', String(50),
    Column('album', String(50)),
    Column('date', String(9)),
    Column('week_num', Integer)
    Column('meta_score', Integer),
    Column('user_score', integer)